<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck</title>
</head>

<body>
    <form action="#" th:action="@{'/deck/'+${deck.id}}" method="post">
        <table>
            <tr>
                <td><img src="https://deckofcardsapi.com/static/img/back.png"></td>
                <td>
                    <p>Remaining cards: <span th:text="${deck.remaining}"></span></p>
                    <select id="draw" name="draw">
                        <option th:each="i:${#numbers.sequence(1,deck.remaining)}" th:value="${i}" th:text="${i}">
                        </option>
                    </select>
                    <button type="submit">Draw</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>
